@using CollegeFootballScorecard.Models
@model IEnumerable<Conferences>





@foreach (var team in Model)
            {
               <h1>@team.Name</h1>
            }



<div>
    <table>
        <tr>
            <th>Colleges</th>
            <th>Conference</th>
        </tr>

            <tr>
                <td>team.Name</td>
                <td>team.ConfName</td>
            </tr>
        
    </table>

</div>